<ion-header>
  <ion-toolbar >
      
    
        <ion-buttons slot="start">
          <ion-back-button defaultHref="signup"></ion-back-button>
        </ion-buttons>
      
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <form (ngSubmit)="onSignUp()">
       
        <ion-list >
          <ion-item >
            <ion-label position="floating">Votre code postal</ion-label>
            <ion-input  type="number" [(ngModel)]="zipcode" [ngModelOptions]="{standalone: true}" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Votre horaire de disponibilité</ion-label>
          </ion-item>
          
       
          
        </ion-list>
        
        <div *ngFor="let cat of data" class="category-block">
   
          <ion-row no-padding class="category-banner">
            <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
              {{ cat.Days }}
            </ion-col>
          </ion-row>
       
    
            <div *ngFor="let product of cat.products">
              <div *ngIf="cat.expanded">
              
                <ion-item>
                      {{ product.val }}  <ion-toggle slot="end"  [(ngModel)]="product.isChecked" [ngModelOptions]="{standalone: true}" ></ion-toggle>
                  </ion-item>
               
              </div> 
            </div>
          
       
        </div>

    <ion-input type="hidden"  [(ngModel)]="idestheticians" [ngModelOptions]="{standalone: true}" value="{{idesthetician}}"></ion-input>
      <ion-button color="success" style="width:100%;" type="submit"   >Valider</ion-button>
    </form>
    <ion-button  >{{idesthetician}}</ion-button>
</ion-content>
