<ion-header>
  <ion-toolbar style="--ion-background-color:#7bed9f;">
   <ion-button color="success" href="home"><ion-icon name="arrow-back"></ion-icon></ion-button> inscription
  </ion-toolbar>
</ion-header>

<ion-content padding>

		<ion-item>
		  <ion-label position="floating">Nom</ion-label>
		  <ion-input type="text"></ion-input>
		</ion-item>
		
		<ion-item>
		  <ion-label position="floating">Prenom</ion-label>
		  <ion-input type="tel"></ion-input>
		</ion-item>
		
		<ion-item>
		  <ion-label position="floating">Numéro de téléphone</ion-label>
		  <ion-input type="tel"></ion-input>
		</ion-item>

		<ion-item>
		  <ion-label position="floating">Mot de pass</ion-label>
		  <ion-input type="password"></ion-input>
		</ion-item>
		
		<ion-item>
		  <ion-label position="floating">Confirmer mot de pass</ion-label>
		  <ion-input type="password"></ion-input>
		</ion-item>

	<ion-button color="success" style="width:100%;" >Inscription</ion-button>

</ion-content>
