
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
    
        </ion-buttons>
    <ion-title>Client</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div id="map">

  </div>

 

  
  <!--------callback=loadMap--  AIzaSyD9Se8nHwW0f_VLzY9pawZyY-UabamJIpM------
    AIzaSyD9Se8nHwW0f_VLzY9pawZyY-UabamJIpM
    
    --->
</ion-content>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQJ9EubVkZYCOiuDNQqqi9FI7rgc_gmPo&callback=ngOnInit"
type="text/javascript"></script>
