
<ion-header>
	<ion-toolbar style="background-color:darkgrey;">
			
      <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
    
        </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
	

		<div >
				<ion-button  (click)="logout()">
					Deconnecter
				</ion-button>
			</div>

	<h1>Présentation de la page</h1>




</ion-content>

<ion-footer>


	<ion-button style="width:100%;" href="inscription">Inscription</ion-button>
</ion-footer>
