<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/haircare"></ion-back-button>
      </ion-buttons>
      <ion-title>Mon cart</ion-title>
    </ion-toolbar>
</ion-header>
   
  <ion-content>
    <ion-list>
      
      <ion-item *ngFor="let e of cart" lines="inset">
        {{ e.quantity }} x {{ e.product.name }} 
        <ion-label text-right>{{ (e.product.price * e.quantity)}} Euro</ion-label>
        <ion-icon slot="end" name="trash"  (click)="removeFromCart(e)"></ion-icon>

      </ion-item>

      <ion-item class="total">
        Total: <span slot="end">{{ total }} Euro</span>
      </ion-item>

      <ion-button expand="block" (click)="placeOrder()">Passer Ma commande</ion-button>

      <ion-button expand="block" (click)="removeCart()">Vider Mon panier</ion-button>

    </ion-list>
  
    <ion-button color="green" expand="full">Afficher Calendrier </ion-button>
  </ion-content>