<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Home Beauty Service Coiffure</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape="round" fill="outline" expand="full" [routerLink]="['/haircare']" >Vous êtes un client</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape="round" fill="outline" expand="full" (click)="estheticien()">Vous êtes un estheticien</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>

</ion-footer>