<!--<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Coiffure</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngIf="haircare.loading">
        Loading, please wait...
    </div>

    <div *ngIf="!haircare.loading">
        <ion-list>
            <ion-item-group *ngFor="let item of haircare.results | keyvalue">
                
                <ion-thumbnail slot="start">
                    <ion-img src="../assets/icon/{{item.key | lowercase}}.png"></ion-img>
                </ion-thumbnail> 
                <ion-item-divider>
                    <ion-label>{{item.key}}</ion-label>
                </ion-item-divider>

                <ion-item *ngFor="let s of item.value">
                    <ion-thumbnail slot="start">
                        <ion-img src="../assets/icon/heads-hairs-and-scissors"></ion-img>
                    </ion-thumbnail>               
                      <ion-label text-wrap>
                              <ion-text color="primary">
                                <h3>{{s.name}}</h3>
                              </ion-text>
                              <ion-text color="secondary">
                                <p>{{s.price}}</p>
                              </ion-text>
                      </ion-label>
                      <button ion-button icon-only item-right >
                          <ion-icon name="cart"></ion-icon>
                      </button>  
                 </ion-item>
            </ion-item-group>
            
        </ion-list>
    </div>
    
    <ion-list radio-group [(ngModel)]="relationship" *ngFor="let shcm of ServiceHairForMan">
        <ion-item>
            <ion-label> {{shcm.type}} </ion-label>
           
            <ion-checkbox color="dark"></ion-checkbox>
         
      </ion-item>
    </ion-list>

      <div class="ftr">
          Total : <ion-label>Test Total</ion-label>
      </div>
</ion-content>-->


<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
        Coiffure
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openCart()">
          <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
    <div *ngFor="let cat of items" class="category-block">
   
      <ion-row no-padding class="category-banner">
        <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
          {{ cat.category }}
        </ion-col>
      </ion-row>
   
      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let product of cat.products">
          <div *ngIf="cat.expanded">
            <ion-card>
              <ion-card-header>
                <ion-card-title> 
                  
                  {{ product.name }} - {{ product.price }} Euro 
                
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  
                </ion-card-content>
                <ion-button expand="full" (click)="addToCart(product)">Ajouter </ion-button>
                  
              </ion-card-header>
            </ion-card>
          </div> 
        </ion-slide>
      </ion-slides>
   
    </div>
  </ion-content>