<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="cart?.entries">
  <ion-grid>
    
    <ion-row>
      <ion-col>
        <div>
          Code de la commande
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{cart.id}}
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <div>
          Date de la commande
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{cart.date}} 
        </div>
        <div>
          {{cart.startHour}}-{{cart.endHour}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          Esthetician
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{cart.esthetician.firstName}}
          {{cart.esthetician.lastName}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          Services de la commande
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-list >
            <ion-item *ngFor="let cartEntry of cart.entries">
              <ion-label>{{cartEntry.product.name}} </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          Total de la commande
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{cart.total}} euro
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-button (click)="placeOrder()">Payer votre Commander</ion-button>
    </ion-row>
  </ion-grid>
  
</ion-content>
