<ion-header>
  <ion-toolbar>
    <ion-title>product-detail</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="singleImageViewContainer">

    <ion-img src="https://via.placeholder.com/300x300"></ion-img>

    <div class="singleViewContent">

      <h1 class="detailViewTitle top-left">
        Details Produit
      </h1>

      <div class="singleViewDescription" padding>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        </p>
      </div>

      <ion-row>
        <ion-col>
          <ion-button shape="round" fill="outline"  expand="full" (click)="addProduct(product)">Ajouter au Panier</ion-button>
          <ion-button shape="round" fill="outline"  expand="full" routerLink="/haircare">retourner au list produit</ion-button>

        </ion-col>
      </ion-row>
      
    </div>

  </div>
</ion-content>