<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <a routerLink="/home"><img src="assets/home/1.jpg"> </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a href=""> <img src="assets/home/2.jpg"></a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a href=""> <img src="assets/home/3.jpg"></a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>

</ion-footer>