
<ion-header>
	<ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        
      </ion-menu-button>

    </ion-buttons>
      
    <ion-title>Home Beauty</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
	

		

    <ion-grid>
        <ion-row>
          <ion-col>
         
          <a  routerLink="/home/haircare"><img src="assets/home/1.jpg"> </a>
         
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                
            <a  href=""> <img src="assets/home/2.jpg"></a>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  
              <a  href=""> <img src="assets/home/3.jpg"></a>
              </ion-col>
            </ion-row>
    </ion-grid>




</ion-content>

<ion-footer>


	
</ion-footer>
