.ins{
    color: #777;
    font-size: 11px;
  
    padding-top:10px;
    margin-top:10px;
}
h1{
    color: #333;
    font-size: 30px;
    font-family: inherit;
    margin-bottom: 5px;
}
p{
    color: #333;
    font-size: 18px;
    font-family: inherit;
    margin-bottom: 5px;
}
.error-messages {
    font-size :0.9em;
    color : red;
    text-align: center;
}