<ion-header>
    <ion-toolbar>
        
      
          <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
          </ion-buttons>
        
      <ion-title>Inscription</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--
    [formGroup]="signupForm" 
    [(ngModel)]="registerCredentials.type"
    formControlName="lastname" 
  -->
  <ion-content padding>
    <form (ngSubmit)="onSignUp()" [formGroup]="signupForm" #registerForm="ngForm">
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input type="text" formControlName="firstName1"  [(ngModel)]="firstName"  ></ion-input>
       
      </ion-item>
      
     
      <!--
      <ion-item>
        <ion-label position="floating">Prenom</ion-label>
        <ion-input  type="text" formControlName="lastName1"  [(ngModel)]="lastName"  required></ion-input>
       <p *ngIf="lastName1.invalid && !lastName1.pristine">last is required.</p>
      </ion-item>
    
      
      <ion-item>
        <ion-label position="floating">Numéro de téléphone</ion-label>
        <ion-input  type="number" formControlName="phoneNumber1" [(ngModel)]="phoneNumber"  required></ion-input>
        <p *ngIf="phoneNumber1.invalid && !phoneNumber1.pristine">last is required.</p>
      </ion-item>

       <ion-item>
        <ion-label position="floating">Adresse Email</ion-label>
        <ion-input  type="text" formControlName="email1" [(ngModel)]="email"  required></ion-input>
        <div *ngIf="email.invalid && !email.pristine">
          <p *ngIf="email.errors.email">Valid email is required.</p>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" formControlName="password1" [(ngModel)]="password" required></ion-input>
        <div *ngIf="password.invalid && !password.pristine">
          <p *ngIf="password.errors.minlength">Password should be at least 6 characters.</p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmer mot de passe</ion-label>
        <ion-input  type="password" formControlName="confirmPassword1" [(ngModel)]="confirmPassword" ></ion-input>
      </ion-item>
      --->
       <ion-list >
          <ion-radio-group [(ngModel)]="type"  name="type" >
            <ion-item>
              <ion-label>Inscrire tant que client</ion-label>
              <ion-radio  value="customer"  checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Inscrire tant que estheticians</ion-label>
              <ion-radio  value="esthetician" ></ion-radio>
            </ion-item>
        </ion-radio-group>
      </ion-list>
      
      
      <!--[disabled]="!signupForm.valid"
      
  
     <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
            
      -->
  
    <ion-button color="success" style="width:100%;" type="submit"  [disabled]="!signupForm.valid" >Inscription</ion-button>
  </form>
  </ion-content>
  